{% extends "base.html" %}

{% block meta_title %}Blogs{% endblock %}

{% block meta_description %}Design Page blogs{% endblock %}

{% block body_class %}is-paper{% endblock %}

{% block content %}

  <section class="p-strip is-shallow u-no-padding--bottom">
    <div class="u-fixed-width">
      <div class="p-notification--information">
        <div class="p-notification__content">
          <p class="p-notification__title p-heading--5">We are hiring</p>
          <p class="p-notification__message">
            If you are interested in joining the team designing and building these resources, check out our career page to see open positions.
          </p>
        </div>
        <div class="p-notification__actions">
          <a href="https://canonical.com/careers/web-and-design/?utm_source=ownedcontent-canonical-design-website&utm_medium=website&utm_campaign=evergreen-recruiting&utm_content=blog-evergreen-recruiting-blurb"
             class="p-button--positive">See open positions</a>
        </div>
      </div>
    </div>
  </section>

  <div class="p-strip">
    <div class="grid-row">
      <div class="grid-col-6 grid-col-start-large-3 grid-col-medium-2 grid-col-start-medium-2">
        <div class="p-section">
          <h1>Blog</h1>
        </div>
      </div>
    </div>
  </div>

  <section class="p-section--deep">
    <div class="u-fixed-width">
      {% include "blog/article_list.html" %}
      {% include "shared/_pagination.html" %}
    </div>
  </section>

{% endblock %}
