{% extends "base.html" %}

{% from "_macros/vf_hero.jinja" import vf_hero %}
{% from "_macros/vf_tiered-list.jinja" import vf_tiered_list %}

{% block meta_title %}
  Get started designers
{% endblock meta_title %}

{% block meta_description %}
  This page is project agnostic and should motivate design students to participate in open design as an avenue to improve their portfolio
{% endblock meta_description %}

{% block meta_copydoc %}
  https://docs.google.com/document/d/1O6k9dQ6zjUAKza60ZPC98cxAkhuPyzCDAZtE9rmbAF8/edit?tab=t.0
{% endblock meta_copydoc %}

{% block body_class %}is-paper{% endblock %}

{% block content %}
  {% call(slot) vf_hero(
    title_text='Make a difference with your designs',
    subtitle_text='Passion and curiosity <br />are all you need ',
    layout='50/50-full-width-image'
    ) -%}
    {%- if slot == 'description' -%}
      <p>
        Non-code contributions are crucial. Help the community, build your portfolio, and sharpen your skills by sharing your expertise on world-changing open source projects.
      </p>
    {%- endif -%}
    {%- if slot == 'image' -%}
      <div class="p-image-container--cinematic is-cover">
        {{ image(url="https://assets.ubuntu.com/v1/52415873-hero-img.png",
                alt="",
                width="3696",
                height="1540",
                hi_def=True,
                loading="auto",
                fmt="jpg",
                attrs={"class": "p-image-container__image"}) | safe
        }}
      </div>
    {% endif -%}
  {% endcall -%}

  <section class="p-section">
    <hr class="p-rule is-fixed-width" />
    <div class="u-fixed-width">
      <div class="p-section--shallow">
        <h2>Getting started</h2>
      </div>
    </div>
    <div class="grid-row--25-75">
      <div class="grid-col">
        <div class="p-section--shallow">
          <ol class="p-stepped-list--detailed">
            <li class="p-stepped-list__item">
              <div class="grid-row">
                <div class="grid-col-2">
                  <h3 class="p-stepped-list__title p-heading--5">Reflect on what skills you have to share</h3>
                </div>
                <div class="grid-col-4">
                  <p class="p-stepped-list__content">
                    Whether you are a beginner or a seasoned designer, you have unique skills that can be helpful to share. Think technical skills, like proficiency with specific tools, as well as soft skills like great interviewing technique! Projects often share the type of skills they are looking for in their requests.
                  </p>
                </div>
              </div>
            </li>
            <li class="p-stepped-list__item">
              <div class="grid-row">
                <div class="grid-col-2">
                  <h3 class="p-stepped-list__title p-heading--5">Consider your commitment</h3>
                </div>
                <div class="grid-col-4">
                  <p class="p-stepped-list__content">
                    It's important to understand how much time you can dedicate to a project to avoid getting overwhelmed or frustrated. Projects can require one-off contributions or demand long term involvement. There are paid contributions and pro-bono ones as well, so make sure to look for the details. Ask yourself what you feel comfortable with!
                  </p>
                </div>
              </div>
            </li>
            <li class="p-stepped-list__item">
              <div class="grid-row">
                <div class="grid-col-2">
                  <h3 class="p-stepped-list__title p-heading--5">Understand the different types of contributions</h3>
                </div>
                <div class="grid-col-4">
                  <p class="p-stepped-list__content">
                    Contributions go beyond coding, and also beyond designing a project's logo. Design contributions include translations, user research, journey mapping, accessibility considerations and more. Discover how diverse skills can make a difference.
                  </p>
                </div>
              </div>
            </li>
            <li class="p-stepped-list__item">
              <div class="grid-row">
                <div class="grid-col-2">
                  <h3 class="p-stepped-list__title p-heading--5">Get familiar with the tools of the trade</h3>
                </div>
                <div class="grid-col-4">
                  <p class="p-stepped-list__content">
                    New tools can be daunting, and projects may have specific processes. GitHub is a key tool in the open source community. While not all projects require it, being familiar with GitHub is definitely advantageous!
                  </p>
                </div>
              </div>
            </li>
            <li class="p-stepped-list__item">
              <div class="grid-row">
                <div class="grid-col-2">
                  <h3 class="p-stepped-list__title p-heading--5">Find your first project</h3>
                </div>
                <div class="grid-col-4">
                  <div class="p-stepped-list__content">
                    <p>
                      There are thousands of open source projects out there. It can be hard to find the one to contribute to, so many projects published on GitHub use tags like "good first issue" or specific requests like "UX testing needed". You can also consult job boards, like the one on the <a href="https://opensourcedesign.net/jobs/">Open Source Design</a> website. You don't have to be familiar with the project itself to be a valuable contributor, so don't be afraid to reach out to the maintainers if you feel like you have something to share!
                    </p>
                    <div class="p-cta-block">
                      <a href="https://contribute.design/">Explore diverse community projects</a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="p-stepped-list__item">
              <div class="grid-row">
                <div class="grid-col-2">
                  <h3 class="p-stepped-list__title p-heading--5">Read about the project</h3>
                </div>
                <div class="grid-col-4">
                  <p class="p-stepped-list__content">
                    Spend some time familiarizing yourself with the product or project and brand guidelines to ace your contribution. Think about what colors/fonts and tone of voice are preferred. Check out design systems, accessibility guidelines, and past user research for context. And don't forget to check their code of conduct if they have one!
                  </p>
                </div>
              </div>
            </li>
            <li class="p-stepped-list__item">
              <div class="grid-row">
                <div class="grid-col-2">
                  <h3 class="p-stepped-list__title p-heading--5">Understand the assignment</h3>
                </div>
                <div class="grid-col-4">
                  <div class="p-stepped-list__content">
                    <p>
                      Most contributions require specific deliverables, so make sure you understand what is asked, look into specification documents or moodboards if provided. A lot of projects also have public roadmaps, check it out to find out what you can get involved with.
                    </p>
                    <p>
                      If there are no specific tickets or bug requests, but you notice something you want to raise, do bring it to the maintainers before offering a solution!
                    </p>
                  </div>
                </div>
              </div>
            </li>
            <li class="p-stepped-list__item">
              <div class="grid-row">
                <div class="grid-col-2">
                  <h3 class="p-stepped-list__title p-heading--5">Have fun and be patient</h3>
                </div>
                <div class="grid-col-4">
                  <p class="p-stepped-list__content">
                    Contributing to projects can be rewarding and exciting, but also chaotic and time-consuming. Most projects are maintained by passionate volunteers, and it might take time to get feedback. Validation processes can also be lengthy and your submission might not make it to the final product. Regardless, the experience you will gain from participating is a positive in and of itself.
                  </p>
                </div>
              </div>
            </li>
            <li class="p-stepped-list__item">
              <div class="grid-row">
                <div class="grid-col-2">
                  <h3 class="p-stepped-list__title p-heading--5">Know your worth</h3>
                </div>
                <div class="grid-col-4">
                  <div class="p-stepped-list__content">
                    <p>
                      Do not feel pressured to give more than you are comfortable with. Keep in mind that your time and expertise is valuable, and should not be exploited without you getting something in return, be it material for your portfolio or the satisfaction of doing something good for your community.
                    </p>
                    <p>
                      You will likely have to educate other people on the value of design, and that's ok! Don't hesitate to ask for what you need.
                    </p>
                  </div>
                </div>
              </div>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <hr class="p-rule--highlight is-fixed-width" />
    <div class="u-fixed-width">
      <div class="p-section--shallow">
        <h2>What people are saying</h2>
      </div>
    </div>
    <div class="grid-row--25-75">
      <div class="grid-col">
        <hr class="p-rule--muted" />
        <div class="grid-row">
          <div class="grid-col-4">
            <p role="blockquote">
              <i>"Bringing in diverse perspectives and experiences is important for accessibility. Designers can help translate insights of people from different backgrounds to improve."</i>
            </p>
          </div>
          <div class="grid-col-2">
            <p class="u-text--muted">Open Source Maintainer</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  {%- call(slot) vf_tiered_list(is_list_full_width_on_tablet=false) -%}
    {%- if slot == 'title' -%}
      <h2>FAQ</h2>
    {%- endif -%}

    {%- if slot == 'list_item_title_1' -%}
      <h3 class="p-heading--5">Who owns my contributions?</h3>
    {%- endif -%}

    {%- if slot == 'list_item_description_1' -%}
      <p>
        Understanding licensing is important when working on open source projects. There are different types of licenses commonly used, like GPL or MIT. It's important to check which one the project is using!
      </p>
    {%- endif -%}

    {%- if slot == 'list_item_title_2' -%}
      <h3 class="p-heading--5">Are contributions compensated?</h3>
    {%- endif -%}

    {%- if slot == 'list_item_description_2' -%}
      <p>
        Many open-source projects welcome volunteer contributions, while some offer compensation or grants for specific design tasks. It all depends on the project's funding and goals, so there are opportunities for everyone to get involved and make a difference!
      </p>
    {%- endif -%}

    {%- if slot == 'list_item_title_3' -%}
      <h3 class="p-heading--5">Do I need to know how to code?</h3>
    {%- endif -%}

    {%- if slot == 'list_item_description_3' -%}
      <div class="p-section">
        <p>
          Absolutely not! Your design skills, passion and creativity are what matter most. There are plenty of ways you can make a meaningful impact without writing a single line of code.
        </p>
      </div>
    {%- endif -%}
  {%- endcall -%}

  <section class="p-section--deep">
    <hr class="p-rule is-fixed-width" />
    <div class="u-fixed-width">
      <div class="p-section--shallow">
        <h2>Make an impact</h2>
      </div>
    </div>
    <div class="grid-row--25-75">
      <div class="grid-col">
        <div class="p-section--shallow">
          <div class="grid-row">
            <div class="grid-col-2">
              <hr class="p-rule--muted u-hide--large" />
              <div class="p-image-container--2-3 is-highlighted is-underlined u-hide--small u-hide--medium">
                {{ image(url="https://assets.ubuntu.com/v1/2ebaee6d-create-great-os.png",
                                alt="",
                                width="852",
                                height="1279",
                                hi_def=True,
                                loading="lazy",
                                attrs={"class": "p-image-container__image"},) | safe
                }}
              </div>
              <hr class="p-rule--highlight u-hide--small u-hide--medium" />
              <h3 class="p-heading--5">Create great open source with us</h3>
              <p>
                Find a canonical project to get involved with. Ideal if you're seeking experience in projects with global impact.
              </p>
            </div>
            <div class="grid-col-2">
              <hr class="p-rule--muted u-hide--large" />
              <div class="p-image-container--2-3 is-highlighted is-underlined u-hide--small u-hide--medium">
                {{ image(url="https://assets.ubuntu.com/v1/e3b8aabb-join-the-osc.png",
                                alt="",
                                width="852",
                                height="1279",
                                hi_def=True,
                                loading="lazy",
                                attrs={"class": "p-image-container__image"},) | safe
                }}
              </div>
              <hr class="p-rule--highlight u-hide--small u-hide--medium" />
              <h3 class="p-heading--5">Join the open source community</h3>
              <p>The open source community is full of projects in need of design. Find a project that aligns with you.</p>
              <p class="u-hide--large">
                <a href="https://contribute.design/">Explore community projects&nbsp;&rsaquo;</a>
              </p>
            </div>
            <div class="grid-col-2">
              <hr class="p-rule--muted u-hide--large" />
              <div class="p-image-container--2-3 is-highlighted is-underlined u-hide--small u-hide--medium">
                {{ image(url="https://assets.ubuntu.com/v1/a4fb11f0-work-for-canonical.png",
                                alt="",
                                width="852",
                                height="1279",
                                hi_def=True,
                                loading="lazy",
                                attrs={"class": "p-image-container__image"},) | safe
                }}
              </div>
              <hr class="p-rule--highlight u-hide--small u-hide--medium" />
              <h3 class="p-heading--5">Work for Canonical</h3>
              <p>Ready to take your passion for design and open source to the next level? Join our team at Canonical!</p>
              <p class="u-hide--large">
                <a href="https://canonical.com/careers/web-and-design">Check out careers&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
        </div>
        <hr class="p-rule--muted u-hide--medium u-hide--small" />
        <div class="grid-row u-hide--medium u-hide--small">
          <div class="grid-col-2 grid-col-start-large-3">
            <a href="https://contribute.design/">Explore community projects&nbsp;&rsaquo;</a>
          </div>
          <div class="grid-col-2">
            <a href="https://canonical.com/careers/web-and-design">Check out careers&nbsp;&rsaquo;</a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
