{% extends "base.html" %}

{% from "_macros/vf_quote-wrapper.jinja" import vf_quote_wrapper %}
{% from "_macros/vf_hero.jinja" import vf_hero %}
{% from "_macros/vf_tiered-list.jinja" import vf_tiered_list %}

{% block meta_title %}
  Contribute to Open Design
{% endblock meta_title %}

{% block meta_description %}
{% endblock meta_description %}

{% block meta_copydoc %}
  https://docs.google.com/document/d/1ylhSHHbC0KN_dT3IJUqrgBXxgwx2_HuPLXkEJGata2o/edit?tab=t.0
{% endblock meta_copydoc %}

{% block body_class %}
  is-paper
{% endblock body_class %}

{% block content %}
  {% call(slot) vf_hero(
    title_text='Elevate open source projects with design',
    layout='50/50-full-width-image'
    ) -%}
    {%- if slot == 'description' -%}
      <p>
        Non-code contributions are crucial. Whether you are a maintainer looking to find designers to help you or improve your
        own design skills, or a designer looking to contribute to open source, you can learn, collaborate and thrive in the
        open design community.
      </p>
    {%- endif -%}
    {%- if slot == 'image' -%}
      <div class="p-image-container--cinematic is-cover is-highlighted">
        {{ image(url="https://assets.ubuntu.com/v1/4206dcc7-sauce_hero.svg",
                alt="",
                width="2400",
                height="1000",
                hi_def=True,
                attrs={"class": "p-image-container__image"},
                loading="auto") | safe
        }}
      </div>
    {% endif -%}
  {% endcall -%}

  <section class="p-section">
    <div class="grid-row--50-50">
      <hr class="p-rule" />
      <div class="grid-col">
        <h2>Design should be transparent, inclusive, and driven by a collective effort.</h2>
      </div>
      <div class="grid-col">
        <p>
          Open design is a collaborative and transparent approach to creating products and experiences. It's about
          involving the community in the design process, sharing ideas openly and building on collective wisdom to create
          solutions that work for everyone.
        </p>
        <div class="p-image-container">
          {{ image(url="https://assets.ubuntu.com/v1/91a46784-transparent-inclusive-collab.png",
                    alt="",
                    width="1800",
                    height="1013",
                    hi_def=True,
                    loading="lazy",
                    attrs={"class": "p-image-container__image"},) | safe
          }}
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    {%- call(slot) vf_tiered_list(is_description_full_width_on_desktop=false, is_list_full_width_on_tablet=false) -%}

      {%- if slot == 'title' -%}
        <h2>Our principles of openness</h2>
      {%- endif -%}

      {%- if slot == 'list_item_title_1' -%}
        <h3 class="p-heading--5">Accessibility</h3>
      {%- endif -%}

      {%- if slot == 'list_item_description_1' -%}
        <p>
          Every human being has a unique experience and moves in the world in their own way. Understanding how to make
          technology more accessible and respectful of an individual's circumstances is key to a better future.
        </p>
      {%- endif -%}

      {%- if slot == 'list_item_title_2' -%}
        <h3 class="p-heading--5">Transparency</h3>
      {%- endif -%}

      {%- if slot == 'list_item_description_2' -%}
        <p>
          Sharing the process is as important as sharing the result. This helps everyone understand a project’s ambitions, and
          makes it easier for anyone to chime in.
        </p>
      {%- endif -%}

      {%- if slot == 'list_item_title_3' -%}
        <h3 class="p-heading--5">Co-creation</h3>
      {%- endif -%}

      {%- if slot == 'list_item_description_3' -%}
        <p>
          Multiple perspectives help identify opportunities that a single person might overlook. Directly involving stakeholders
          and users in the development process gives communities a sense of ownership and promotes creative problem-solving.
        </p>
      {%- endif -%}

    {%- endcall -%}
  </section>

  <section>
    <div class="p-section--shallow">
      <div class="u-fixed-width">
        <hr class="p-rule" />
        <h2>Why is open design important?</h2>
      </div>
    </div>
    <div class="p-section--shallow">
      <div class="grid-row">
        <div class="grid-col-6 grid-col-start-large-3">
          <hr class="p-rule--muted u-hide--medium u-hide--small" />
          <div class="p-equal-height-row">
            <div class="p-equal-height-row__col">
              <h3 class="p-heading--5 p-equal-height-row__item">
                Sharing knowledge lifts
                <br />
                everybody up
              </h3>
              <p class="p-equal-height-row__item">
                Working in the open allows more people to get access to good quality resources and learn from diverse
                sources.
              </p>
            </div>
            <div class="p-equal-height-row__col">
              <h3 class="p-heading--5 p-equal-height-row__item">Diverse point-of-views make for better experiences</h3>
              <p class="p-equal-height-row__item">
                Including designers in open source projects helps balance user needs and technical constraints, and
                bridges
                the gap between maintainers and users.
              </p>
            </div>
            <div class="p-equal-height-row__col">
              <h3 class="p-heading--5 p-equal-height-row__item">Real-life projects are important to build skills</h3>
              <p class="p-equal-height-row__item">
                Open source projects help designers refine their skills and improve, and collaborate with people from
                around
                the world to build meaningful tools.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="p-section--shallow">
      <div class="u-fixed-width">
        <div class="p-image-container">
          {{ image(url="https://assets.ubuntu.com/v1/80032255-why-is-od-important.png",
                    alt="",
                    width="2464",
                    height="1028",
                    hi_def=True,
                    loading="lazy",
                    attrs={"class": "p-image-container__image"},) | safe
          }}
        </div>
      </div>
    </div>
    {% call(slot) vf_quote_wrapper(
      quote_size="medium",
      quote_text="Bringing in diverse perspectives and experiences is important for accessibility. Designers can help
      translate insights of people from different backgrounds to improve.",
      citation_source_name_text="Anonymous survey participant"
      ) -%}
    {% endcall -%}
  </section>

  <section class="p-section">
    {%- call(slot) vf_tiered_list(is_description_full_width_on_desktop=false, is_list_full_width_on_tablet=false) -%}

      {%- if slot == 'title' -%}
        <h2>Open design is for you</h2>
      {%- endif -%}

      {%- if slot == 'list_item_title_1' -%}
        <h3 class="p-heading--5">Contribute to open design</h3>
      {%- endif -%}

      {%- if slot == 'list_item_description_1' -%}
        <p>The open source world can be intimidating at first. Check out our guide on how to get started to contribute!</p>
        <div class="p-cta-block">
          <a href="/open-design/get-started-for-designers">Get started<span class="u-hide">with open-design for
          designers</span>&nbsp;&rsaquo;</a>
        </div>
      {%- endif -%}

      {%- if slot == 'list_item_title_2' -%}
        <h3 class="p-heading--5">Contribute to Canonical projects</h3>
      {%- endif -%}

      {%- if slot == 'list_item_description_2' -%}
        <p>
          Explore Canonical projects that are open to design contributions, and find the resources you need to make your first
          contribution.
        </p>
      {%- endif -%}

      {%- if slot == 'list_item_title_3' -%}
        <h3 class="p-heading--5">Find designers for your project</h3>
      {%- endif -%}

      {%- if slot == 'list_item_description_3' -%}
        <p>
          Discover the potential of design contributions in open source projects and how to attract designers to your project.
        </p>
        <div class="p-cta-block">
          <a href="/open-design/get-started-for-maintainers">Design contribution for maintainers<span class="u-hide">with
          open-design</span>&nbsp;&rsaquo;</a>
        </div>
      {%- endif -%}

      {%- if slot == 'list_item_title_4' -%}
        <h3 class="p-heading--5">Get in touch</h3>
      {%- endif -%}

      {%- if slot == 'list_item_description_4' -%}
        <p>The Canonical Open Design Working Group would love to hear from you.</p>
        <div class="p-cta-block">
          <a href="/sauce">Contact us&nbsp;&rsaquo;</a>
        </div>
      {%- endif -%}

    {%- endcall -%}

  </section>

  {% with section_classes='p-section--deep', tag_id='1239', limit='3', hide_date=True, link_image=True, show_image=True,
    show_excerpt=True, excerptLength=200 %}
    {% include "/shared/_blogsection.html" %}
  {% endwith %}

{% endblock content %}
